@font-face {
   font-family: "Gotham Pro";
   src: url("../fonts/GothamPro-Medium.woff2") format("woff2");
   font-weight: 500;
   font-style: normal;
}
@font-face {
   font-family: "Gotham Pro";
   src: url("../fonts/GothamPro-Black.woff2") format("woff2");
   font-weight: 900;
   font-style: normal;
}
